<header>
    <img class="logo" src="./images/anamneseLogo.png" alt="logo anamnese para estética">
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/form">Ficha</a></li>
        </ul>
    </nav>
</header>