<!DOCTYPE html>
<html lang="en">
    <%- include("../../components/head.ejs"); %>
<body>
    <%- include("../../components/header.ejs"); %>
    <main>
        <div class="desenvolvidoPor">
            <p>Desenvolvido por Giulia Alzuguir</p>
        </div>
        <div >
            <a href="https://github.com/giualz" target="_blank" class="socialMedia"><img src="./images/githubIcon.png" alt="github icon" class="socialMedia" /></a>
            <a href="https://br.linkedin.com/in/giulia-alzuguir" target="_blank" class="socialMedia"><img src="./images/linkedinIcon.png" alt="linkedin icon" class="socialMedia" /></a>
            <a href="https://www.instagram.com/giualz/" target="_blank" class="socialMedia"><img src="./images/instagramIcon.png" alt="instagram icon" class="socialMedia" /></a>
        </div>
    </main>
    <%- include("../../components/footer.ejs"); %>
</body>
</html>