<!-- <!DOCTYPE html> -->
<html lang="en">
    <%- include("../../components/head.ejs"); %>
<body>
    <%- include("../../components/header.ejs"); %>

    <main>
        <div class="container">
        <!-- já tá dentro do public essa caceta -->
        <img class="homePic" src="images/picHome.png" alt="Image by rawpixel.com" />
        <div class="homeText">
        <br />
        <br />
        <p>Essa aplicação web foi desenvolvida como parte do Projeto 1 do Bootcamp de 
        Desenvolvimento Full Stack do Instituto Infnet.</p><br>
        <h2>Forma de uso:</h2>
        <p>Para ter o formulário de anamnese, vá à aba "Ficha" e preencha seus dados. Uma vez completo, 
        envie o formulário e aplicação fará uma verificação para garantir que todos os campos necessários 
        foram preenchidos. Caso haja erros ou campos incompletos, retorne e faça as modificações solicitadas.
        Caso todos os campos estejam preenchidos corretamente, um pdf será exibido. De acordo com sua 
        preferência, salve ou imprima o documento.
        <br />
        <br />
        <b>Importante: </b>Essa ficha tem como objetivo auxiliar profissionais de estética, mas tenha em mente 
        que o profissional poderá solicitar mais informações antes do procedimento.
        <br />
        Essa ficha de anamnese não tem como objetivo substituir nenhuma parte do trabalho do esteticista, mas 
        sim facilitar uma das etapas tanto para o profissional quanto para o cliente.</p>
        <br />
        <br />
        <br />
        </div>
        </div>

    </main>

    <%- include("../../components/footer.ejs"); %>
</body>
</html>