<!-- <!DOCTYPE html> -->
<html lang="en">
    <%- include("../../components/head.ejs"); %>
<body>
    <%- include("../../components/header.ejs"); %>

    <main>
        <div class="container">
        <!-- já tá dentro do public essa caceta -->
        <img class="homePic" src="images/picHome.png" alt="Image by rawpixel.com" />
        <div class="homeText">
        <p>Essa aplicação web foi desenvolvida como parte do Projeto 1 do Bootcamp de 
        Desenvolvimento Full Stack do Instituto Infnet.</p><br>
        <h2>Forma de uso:</h2>
        <p>O usuário poderá preencher um formulário de anamnese voltado para procedimentos 
        estéticos. Ao submetê-lo, a aplicação fará uma verificação dos dados. Havendo erros,
        o formulário será retornado para conferência e alterações. Caso contrário, será gerado
        um pdf formatado contendo todas as informações.</p>
        </div>
        </div>

    </main>

    <%- include("../../components/footer.ejs"); %>
</body>
</html>