<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/stylesheet.css" />
    <title>Anamnese</title>
</head>
<body>
    <header>
        <h1>Anamnese</h1>
        <nav>
            <ul>
                <li><a href="home.html">Início</a></li>
                <li><a href="about.html">Sobre</a></li>
                <li><a href="form.html">Ficha</a></li>
            </ul>
    </header>

    <main>
        <!-- já tá dentro do public essa caceta -->
        <img class="homePic" src="images/picHome.png" alt="Image by rawpixel.com" />
    </main>

    <footer>
        <span>Todos os direitos reservados</span>
    </footer>
</body>
</html>